$spells-transition: margin-left 0.5s ease-in-out;

.spell-table {
  margin-left: 300px;
  transition: $spells-transition;
  padding: 1rem;  
  flex: 1;
}

.spells-wide {
  margin-left: 60px;
  transition: $spells-transition;
} 

.spell-table-window {
  display: flex;
  justify-content: center;
}