$spells-transition: margin-left 0.5s ease-in-out;

.spell-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-left: 250px;
  transition: $spells-transition;

  padding: 1rem;
}

.spells-wide {
  margin-left: 60px;
  transition: $spells-transition;
}