$sidebar-transition: width 0.5s ease-in-out;

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.sidebar {
  width: 250px;
  transition: $sidebar-transition;

  background-color: rgb(27, 27, 27);

  position: fixed;
  left: 0;
  height: 100%;
  overflow: auto;
}

.sidebar-hidden {
  transition: $sidebar-transition;
  width: 60px;
}

.sidebar-filters {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  display: flex;
}

.sidebar-filters-hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.sidebar-button {
  color: white;
  background-color: rgba(27, 27, 27, 0);
  border: 0;
  font-size: 1rem;

  padding: 0;

  :hover {
    background-color: rgba(153, 153, 153, 0.5);
    cursor: pointer;
  }
}

.sidebar-burger {
  padding: 18px;
}

.sidebar-search {
  border-color: transparent;
  flex: 1;

  margin: 5px;
  font-size: 1rem;
}