$sidebar-transition: width 0.5s ease-in-out;

.sidebar {
  width: 280px;
  transition: $sidebar-transition;

  background-color: rgb(27, 27, 27);

  position: fixed;
  left: 0;
  height: 100%;
}

.sidebar-hidden {
  transition: $sidebar-transition;
  width: 60px;
}

.sidebar-filters {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  display: flex;
  flex-direction: column;
}

.sidebar-filters-hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.sidebar-button {
  width: 60px;
  height: 60px;
  font-size: 2rem;
}

.sidebar-component {
  flex: 1;
  margin: 10px;
  font-size: 1rem;
  color: white;

  ul {
    width: 260px;
  }

  &.MuiFormControl-root {
    margin: 10px;

    &.levels-component {
      margin: 40px 20px 10px 20px;
    }
  }

  &.MuiList-root {
    background-color: #424242;
    margin: 10px;
    border-radius: 3px;
  }

  &.MuiList-padding {
    padding: 0;
  }
}

.components-collapsible {
  color: white;
  background-color: #424242;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
}

.components-collapsible-child {
  display: flex;
  justify-content: space-around;

  .MuiListItem-gutters {
    padding: 0;
  }
}

.components-tooltip {
  font-size: 0.8rem
}

.schools-collapsible-child {
  margin: 0 10px 0 10px;
}