$sidebar-transition: width 0.5s ease-in-out;

.sidebar {
  width: 280px;
  transition: $sidebar-transition;

  background-color: rgb(27, 27, 27);

  position: fixed;
  left: 0;
  height: 100%;
}

.sidebar-hidden {
  transition: $sidebar-transition;
  width: 60px;
}

.sidebar-filters {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  display: flex;
  flex-direction: column;
}

.sidebar-filters-hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.sidebar-button {
  color: white;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  --mdc-theme-primary: #ffffff;
}

.sidebar-search {
  flex: 1;

  margin: 10px;
  font-size: 1rem;
}

.sidebar-select {
  flex: 1;
  margin: 10px;
  
  ul {
    width: 260px;
  }
}